body, html {
    margin: 0;
    padding: 0;
}
body {
    background: #73beea;
    font-family: "Comfortaa", cursive !important;
    height: 1100px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

//* {
//    outline-style:none;
//    box-shadow:none;
//    border-color:transparent;
//}

.hidden {
    display: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* iziModal mods **************************************************************/
.iziModal .iziModal-header {
    padding-left: 52px;
}

.iziModal .iziModal-header-title {
    font-size: 25px;
    line-height: 26px;
    padding-top: 4px;
    font-family: "Comfortaa", cursive;
}

.iziModal .iziModal-header-subtitle {
    font-family: "Comfortaa", cursive;
}

.iziModal .iziModal-header-buttons {
    right: 22px;
}
/* Buttons **************************************************************/
.mc_btn {
    letter-spacing: 1px;
    color: #54bcf0;
    font-weight: bold;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    font-size:16px;
    padding:10px 19px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.mc_btn:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
.mc_btn:active {
    position:relative;
    top:1px;
}

.mc_btn_blue {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    //border:1px solid #0b0e07;
    color: #fff;
}
.mc_btn_blue:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
}


/* Header **************************************************************/
header {
    z-index: 35;
    width: 1050px;
    margin: 11px auto 0;
    position: relative;

    #logo {
        width: 250px;
        display: inline-block;

    }

    #pirsomet {
        width: 730px;
        height: 90px;
        display: inline-block;
        float: right;
        border: 1px white solid;
    }
}

/* Night Overly **************************************************************/
#night_overly {
    width: 100%;
    background-color: black;
    overflow:hidden;
    z-index: 30;
    position: absolute;
    opacity: 0;
    height: 1296px;

    &.night {
        transition: opacity 1s;
        opacity: 0.3;
    }

}


/* Site Container **************************************************************/
#site_container {
    width: 100%;
    height: 1100px;
    background-color: #73beea;
    overflow: hidden;
}

/* Modals **************************************************************/
#tune_modal  {

    .modal_content {
        height: 400px;
    }

    .tabs {
        .icon {
            padding-right: 6px;
            width: 24px;
            height: 24px;
            vertical-align: -6px;
            fill: #1c9bd8;
        }

        .icon-music {
            width: 19px;
            height: 21px;
            vertical-align: -5px;
        }
    }

    .tabs_content {
        background-color: #f2f2f2;
        height: calc(100% - 36px);

        .controls {
            display: block;
            padding-top: 12px;
            text-align: right;
            padding-right: 65px;

            .buttons_container {
                display: inline-block;

                #cancel_tune {
                    color: #b1b1b1;
                    margin-right: 10px;
                }
            }
        }

        .tab_tune_content {

            .tunes_list {
                vertical-align: top;
                display: inline-block;
                overflow-y: scroll;
                height: 100%;
                width: 100%;

                li {
                    background: #ffffff;
                    border-bottom: 1px #f2f2f2 solid;
                    display: block;
                    line-height: 17px;
                    height: 56px;
                    padding: 0px 61px 0px 51px;

                    span {
                        width: 92%;
                    }

                    .item_title {
                        color: #1a91d2;
                        display: block;
                        font-size: 18px;
                        height: 44px;
                        padding-top: 12px;
                    }

                    .item_desc {
                        color: #1a91d2;
                        font-size: 12px;
                        margin-top: -26px;
                        display: block;
                    }

                }
            }
            .tunes_description {
                display: inline-block;
            }
        }

        .tab_youtube_content {
          #youtube_search {
              width: 479px;
              border: 1px #d8d8d8 solid;
              border-radius: 9px;
              height: 30px;
              padding: 14px;
              font-size: 15px;
              margin: 13px auto 13px 11%;
              background-image: url(http://dev.metaclock.com:8081/img/search.svg);
              background-repeat: no-repeat;
              background-size: 4%;
              background-position: 5px 5px;
              padding-left: 31px;
          }

          #youtube_search_results {
              overflow: scroll;
              height: 247px;
              width: 100%;
              /* padding: 0 0 0 11%; */

              li {
                  height: 70px;
                  border-bottom: 1px #f2f2f2 solid;
                  padding: 15px 10% 0;

              .youtube_image {
                display: inline-block;
                width: 70px;
                border: 1px black solid;
                //height: 70px;
                border-radius: 5px;
              }
              .youtube_content {
                display: inline-block;
                vertical-align: 4px;
                line-height: 21px;
                padding-left: 14px;

                span {
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 326px;
                }

                .item_title {
                  color: #1c9bd8;
                  font-size: 18px;
                }

                .item_desc {
                  color: #1c9bd8;
                  font-size: 12px;
                }
              }
            }
          }
        }


    }

    .tab_content {
        height: 304px;
        background: #fff;

        li {
            &:hover {
                background-color: #eae8e8 !important;
                cursor: pointer;
            }
        }

        li.selected_tune {
            background: #1991d2 !important;

            .item_title {
                color: #fff !important;
                font-weight: bold !important;
            }

            .item_desc {
                color: #f2f2f2 !important;
            }

            &:hover {
                background-color: #107dd2 !important;
            }
        }

    }
}


/* Good night text **************************************************************/
#good_night_container {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 524px;
    opacity: 0;
    z-index: 35;

    #good_night_text {
        color: #fff;
        font-size: 70px;
    }

    #good_night_info {
        margin-top: 10px;
        color: wheat;
    }

    &.night {
        animation: opacity-show 1s 1 linear forwards;
        animation-delay: 1.31s;
    }
}

/* Ground **************************************************************/
#ground {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(http://dev.metaclock.com:8081/img/surface.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center center;
    top: 214px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 840px;
    overflow: hidden;
    transition: all 0.1s;
    z-index: 30;

    &.hidden {
        top: 110%;
    }
}

/* Ground **************************************************************/
#underground {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(http://dev.metaclock.com:8081/img/underground.png);
    /* background-size: cover; */
    background-repeat: repeat-x;
    /* background-position: center top; */
    top: 858px;
    background-size: 600px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 660px;
    overflow: hidden;
    transition: all 0.1s;
    z-index: 30;

    &.hidden {
        top: 110%;
    }

    #underground_bottom {
        background-color: #1a0b01;
        bottom: 0;
        position: absolute;
        height: 222px;
        width: 100%;
    }
}

/* Set alarm container **************************************************************/
#set_alarm_container {
    z-index: 35;
    opacity: 0;
    animation: opacity-show 1s 1 linear forwards;
    animation-delay: .71s;

}

#set_alarm_content {
    position: absolute;
    width: 60%;
    top: 25%;
    left: 130px;
    text-align: center;
    text-shadow: #7ec6ed 1px 0 10px;

    .wake_up_title {
        color: #ffffff;
        text-shadow: 0px 0px 5px #75757563;
        font-size: 20px;
    }
    .wake_up_time {
        cursor: pointer;
        font-size: 92px;
        display: block;
        color: #fffffe;
        margin: 4px auto 26px;
        width: 269px;
        /* border: 1px black solid; */
        /* background-color: #ffffff47; */
        /* border-radius: 24px; */
        height: 105px;
        text-align: center;
        padding-top: 0px;
        /* font-family: "Inconsolata", monospace; */
        /* border-bottom: 3px #ffffff8c solid; */
        transition: background-color 0.25s linear;
        /* line-height: 64px; */
        background: transparent;
        border-width: 0;
        border-bottom: 3px #ffffff8c solid;
        border-radius: 5px 5px 0 0;
        line-height: initial;

        &:hover {
            background-color: #ffffff57;
        }

        .wut_inner_container {

            margin-top: 0;
            letter-spacing: -2px;

        }

        .wut_hours,.wut_minutes {
            /* margin-right: -39px; */
            font-size: 92px;
            color: white;
            background: transparent;
            font-family: "Inconsolata", monospace;
            border: 0;
            width: 90px;
            vertical-align: top;

        }

        .wut_delimiter {
            display: inline-block;
            font-size: 81px;
            vertical-align: 19px;
            font-family: "Inconsolata", monospace;
            width: 37px;
            text-align: left;

        }
    }
    .wake_up_sleep_time {}
    .wu_tune {
        display: inline-block;
        text-align: left;
        /* vertical-align: -27px; */
        padding-right: 10px;
        background-color: transparent;
        border: 0;
        font-family: "Comfortaa", cursive;
        padding-top: 0;
        border-radius: 5px;
        cursor: pointer;
        height: 39px;


        .wu_tune_music {
            display: inline-block;
            /* vertical-align: 15px; */
            padding-right: 6px;
            width: 20px;
            height: 20px;
            vertical-align: 6px;

            svg {
                fill: #fff;
                height: 100%;
                width: 100%;
            }
        }

        .wu_tune_name_cont {
            display: inline-block;
            font-size: 17px;
            color: #54bcf0;
            max-width: 193px;
            white-space: nowrap;
            vertical-align: -3px;
            text-shadow: none;
            //min-width: 120px;

            .wu_tune_name {
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 39px;
            }

        }

        &:hover {

            .wu_tune_name {
                font-weight: bold;
                //color: #41963d;
                color: #54bcf0;
            }
        }


        &:hover {
            background-color: #ffffff57;
        }
    }

    .set_alarm_btn_container {
        display: inline-block;
        vertical-align: top;


    }
}

/* Sun and Moon **************************************************************/
.sun_and_moon {
    position: absolute;
    left: calc(50% - 330px);
    transition: all 1s;
    transition-delay: 0.1s;
    height: 573px;
    width: 667px;
    z-index: 20;
    overflow: hidden;
    top: 300px;

    &.hidden {
        top: 100%
    }

    #img_sun {
        position: absolute;
        top:0;
        animation: rotation 100s infinite linear;
        opacity: 1;
        margin-top: 8px;
    }

    #img_moon {
        position: absolute;
        animation: rotation 100s infinite linear;
        opacity: 0;
        top: 100%;
    }

    &.night {
        #img_sun, #set_alarm_content {
            transition: top 1s;
            top: 100%;
        }
        #set_alarm_content {
            animation: opacity-hide .2s 1 ease forwards;
        }
        #img_moon {
            transition: top 1s;
            top: 0;
            transition-delay: 0.5s;
            opacity: 1;

        }
    }
}

/* Clouds **************************************************************/
.cloud {
    position: absolute;
    overflow: hidden;
    z-index: 20;
    opacity: 0.6;
    transition: opacity 2s;
    background-image: url(http://dev.metaclock.com:8081/img/cloud.png);
    background-size: 100%;


    &#cloud_1 {
        width: 200px;
        height: 158px;
        -webkit-animation: cloudFlyLeft 60s infinite linear;
    }

    &#cloud_2 {
        width: 163px;
        height: 130px;
        animation: cloudFlyRight 65s infinite linear;
    }

    &#cloud_3 {
        width: 220px;
        height: 178px;
        animation: cloudFlyRight 60s infinite linear;
    }

    &#cloud_4 {
        width: 250px;
        height: 200px;
        animation: cloudFlyLeft 50s infinite linear;
    }

    &#cloud_5 {
        width: 300px;
        height: 230px;
        animation: cloudFlyLeft 45s infinite linear;
    }

    &#cloud_6 {
        width: 163px;
        height: 130px;
        animation: cloudFlyLeft 40s infinite linear;
    }

    &.night {
        opacity: 0;
    }
}

/* Stars **************************************************************/
#stars_container {
    opacity: 0;

    .stars, .twinkling {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        display:block;
        z-index: 20;
    }

    .stars {
        background:#000 url(http://dev.metaclock.com:8081/img/stars.png) repeat top center;
    }

    .twinkling{
        background:transparent url(http://dev.metaclock.com:8081/img/twinkling.png) repeat top center;
        animation:move-twink-back 200s linear infinite;
    }
}

/* Preloader **************************************************************/
#preloader {
    z-index: 100;
    position: absolute;
    top: 300px;
    left: calc(50% - 100px);
}

/* Keyframes **************************************************************/
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes cloudFlyLeft {
    from {
        left: -300px;
    }
    to {
        left: 100%;
    }
}

@keyframes cloudFlyRight {
    from {
        right: -250px;
    }
    to {
        right: 100%;
    }
}


/* Stars keyframes **************************************************************/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
@keyframes opacity-show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opacity-hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Tabs **************************************************************/
.tabs{
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /* border-radius: 50px; */
    position: relative;
    width: 100%;
}

.tabs a{
    text-decoration:none;
    color: #777;
    text-transform:uppercase;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    width: 257px;
    z-index:1;
    transition-duration:0.6s;
    text-align: center;
}

.tabs a.active{
    color: #fff;
    font-weight: bold;
}

.tabs a i{
    margin-right:5px;
}

.tabs .selector{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: linear-gradient(45deg, #d2c27a 0%, #ffca0e 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

/* Shooting stars **************************************************************/

#shooting_stars_container {

    transform: rotateZ(45deg);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 219px;
    left: 100px;
    opacity: 0;
    z-index: 40;

    &.night {
        animation: opacity-show 1s 1 linear forwards;
    }
}

$shooting-time: 3000ms;

.shooting_star {
    z-index:30000;
    position: absolute;
    left: percentage(random(100) / 100);
    top: percentage(random(100) / 100);
    // width: 100px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation:
            tail $shooting-time ease-in-out 1,
            shooting $shooting-time ease-in-out 1;

    &::before {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        // width: 30px;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        animation: shining $shooting-time ease-in-out infinite;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        // width: 30px;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        animation: shining $shooting-time ease-in-out infinite;
        transform: translateX(50%) rotateZ(-45deg);
    }

    @for $i from 1 through 1 {
        &:nth-child(#{$i}) {
            $delay: random(9999) + 0ms;
            top: calc( #{random(400) - 300px});
            left: calc( #{random(300) + 0px});
            animation-delay: $delay;
            // opacity: random(50) / 100 + 0.5;

            &::before,
            &::after {
                animation-delay: $delay;
            }
        }
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45 + 360deg);
    }
}


/* Uba Player **************************************************************/

#ubaplayer-fallback {
    display: none;
}

//$spriteLeft: 461px;
//$spriteTopPlay: 20px;
//$spriteTopPlayHover: -20px;
$spriteLeft: 447px;
$spriteTopPlay: -148px;
$spriteTopPlayHover: -222px;
$spriteTopPlayPlaying: -296px;
$spriteTopPlayPlayingHover: -369px;
$spriteLoading: 7px;

.ubaplayer-button {
    background: url(../img/btn.png) no-repeat 447px -148px;
    display: block;
    cursor: pointer;
    margin: 0;
    position: relative;
    /* width: 202px; */
    text-decoration: none;
    /* padding-top: 12px; */
}

.ubaplayer-button:hover {
    background-position: $spriteLeft $spriteTopPlayHover;
}

.ubaplayer-button.ubaplayer-playing {
    background-position: $spriteLeft $spriteTopPlayPlaying;
}

.ubaplayer-button.ubaplayer-playing:hover {
    background-position: $spriteLeft $spriteTopPlayPlayingHover;
}

//.ubaplayer-button.ubaplayer-loading:after,
//.ubaplayer-button.ubaplayer-loading:hover:after {
//    background: url("../img/loading.gif") no-repeat $spriteLeft $spriteLoading;
//    content: " ";
//    height: 28px;
//    left: 0;
//    position: absolute;
//    text-indent: 0!important;
//    top: 0;
//    width: 100%;
//}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)  {
    .ubaplayer-button {
        background-position: $spriteLeft -710px;
        background-size: 20px 250px;
    }

    .ubaplayer-button:hover {
        background-position: $spriteLeft -107px;
    }

    .ubaplayer-button.ubaplayer-playing {
        background-position: $spriteLeft -144px;
    }

    .ubaplayer-button.ubaplayer-playing:hover {
        background-position: $spriteLeft -180px;
    }
}


/* Birds **************************************************************/
#birds_container {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* min-height: 35rem; */
    /* padding: 2rem; */
    z-index: 40;
    width: 100%;
    height: 383px;
    top: 107px;
    &.night {
        animation: opacity-hide 4s 1 ease forwards;

    }

}

.bird {
    background-image: url(http://dev.metaclock.com:8081/img/bird-cells.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
    animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(10);
    animation-timing-function: steps(10);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;


}
.bird--one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.bird--two {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.bird--three {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.bird--four {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.bird-container {
    position: absolute;
    top: 20%;
    left: -7.5vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    will-change: transform;
    -webkit-animation-name: fly-right-one;
    animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    &.night {
        animation-iteration-count: 1;
    }
}
.bird-container--one {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.bird-container--two {
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bird-container--three {
    -webkit-animation-duration: 14.6s;
    animation-duration: 14.6s;
    -webkit-animation-delay: 9.5s;
    animation-delay: 9.5s;
}
.bird-container--four {
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    -webkit-animation-delay: 10.25s;
    animation-delay: 10.25s;
}
@-webkit-keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}
@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}
@-webkit-keyframes fly-right-one {
    0% {
        left: -10%;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    10% {
        left: 10%;
        -webkit-transform: translateY(2vh) scale(0.4);
        transform: translateY(2vh) scale(0.4);
    }
    20% {
        left: 30%;
        -webkit-transform: translateY(0vh) scale(0.5);
        transform: translateY(0vh) scale(0.5);
    }
    30% {
        left: 50%;
        -webkit-transform: translateY(4vh) scale(0.6);
        transform: translateY(4vh) scale(0.6);
    }
    40% {
        left: 70%;
        -webkit-transform: translateY(2vh) scale(0.6);
        transform: translateY(2vh) scale(0.6);
    }
    50% {
        left: 90%;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
    60% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
    100% {
        left: 110%;
        opacity: 1;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
}
@keyframes fly-right-one {
    0% {
        left: -10%;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    10% {
        left: 10%;
        -webkit-transform: translateY(2vh) scale(0.4);
        transform: translateY(2vh) scale(0.4);
    }
    20% {
        left: 30%;
        -webkit-transform: translateY(0vh) scale(0.5);
        transform: translateY(0vh) scale(0.5);
    }
    30% {
        left: 50%;
        -webkit-transform: translateY(4vh) scale(0.6);
        transform: translateY(4vh) scale(0.6);
    }
    40% {
        left: 70%;
        -webkit-transform: translateY(2vh) scale(0.6);
        transform: translateY(2vh) scale(0.6);
    }
    50% {
        left: 90%;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
    60% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
    100% {
        left: 110%;
        opacity: 1;
        -webkit-transform: translateY(0vh) scale(0.6);
        transform: translateY(0vh) scale(0.6);
    }
}
@-webkit-keyframes fly-right-two {
    0% {
        left: -10%;
        opacity: 1;
        -webkit-transform: translateY(-2vh) scale(0.5);
        transform: translateY(-2vh) scale(0.5);
    }
    10% {
        left: 10%;
        -webkit-transform: translateY(0vh) scale(0.4);
        transform: translateY(0vh) scale(0.4);
    }
    20% {
        left: 30%;
        -webkit-transform: translateY(-4vh) scale(0.6);
        transform: translateY(-4vh) scale(0.6);
    }
    30% {
        left: 50%;
        -webkit-transform: translateY(1vh) scale(0.45);
        transform: translateY(1vh) scale(0.45);
    }
    40% {
        left: 70%;
        -webkit-transform: translateY(-2.5vh) scale(0.5);
        transform: translateY(-2.5vh) scale(0.5);
    }
    50% {
        left: 90%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
    51% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
    100% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
}
@keyframes fly-right-two {
    0% {
        left: -10%;
        opacity: 1;
        -webkit-transform: translateY(-2vh) scale(0.5);
        transform: translateY(-2vh) scale(0.5);
    }
    10% {
        left: 10%;
        -webkit-transform: translateY(0vh) scale(0.4);
        transform: translateY(0vh) scale(0.4);
    }
    20% {
        left: 30%;
        -webkit-transform: translateY(-4vh) scale(0.6);
        transform: translateY(-4vh) scale(0.6);
    }
    30% {
        left: 50%;
        -webkit-transform: translateY(1vh) scale(0.45);
        transform: translateY(1vh) scale(0.45);
    }
    40% {
        left: 70%;
        -webkit-transform: translateY(-2.5vh) scale(0.5);
        transform: translateY(-2.5vh) scale(0.5);
    }
    50% {
        left: 90%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
    51% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
    100% {
        left: 110%;
        -webkit-transform: translateY(0vh) scale(0.45);
        transform: translateY(0vh) scale(0.45);
    }
}

