body, html {
    margin:0;
    background: #73beea;
    font-family: 'Heebo', sans-serif;
    height:1100px;
}

#site_container {
}

header {
    position: absolute;
    top: 20px;
    width: 80%;
    z-index: 100;
    left: 10%;
    min-width: 960px;
}

header #logo {
    display: inline-block;
}

#logo img {
    width: 300px;
}

header #head_banner {
    min-width: 730px;
    border: 1px white dashed;
    height: 90px;
    display: block;
    vertical-align: 25px;
    float: right;
}

#circle-dyn {
    background-image: url(http://dev.metaclock.com:8081/img/circle.png);
    top: -70px;
    z-index: 2;
    width: 100%;
    height: 1200px;
    background-size: 840px;
    background-position: center;
    background-repeat: no-repeat;

}
#circle-dyn.night {
    background-image: url(http://dev.metaclock.com:8081/img/circle-night.png);
}

#alarm-settings {
    position: absolute;
    top: 352px;
    /* left: 164px; */
    width: 100%;
    /* right: 74px; */
    /* margin: 0 auto; */
    z-index: 2;
    height: 200px;
    background-size: 840px;
    background-position: center;
    background-repeat: no-repeat;
}


#circle-dyn #alarm-set-cont {
    display: none;
    position: absolute;
    top: 36%;
    width: 100%;
    height: 189px;
    text-align: center;
    z-index: 10000;
}
#circle-dyn #alarm-set-cont.night {
    display: block;
}
#alarm-settings.night {
    display: none;
}

#alarm-settings #alarm-settings-cont {
    width: 500px;
    margin: 0 auto;
}

#alarm-settings #alarm-time {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}
#alarm-settings #alarm-time input {
    font-size: 112px;
    color: #73beea;
    width: 140px;
    background: none;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 90px;
    font-family: 'Nanum Gothic Coding', monospace;
}

#alarm-settings #alarm-time span {
    font-size: 93px;
    color: #4499ca;
    vertical-align: 5px;
    font-family: 'Nanum Gothic Coding', monospace;
}

#alarm-settings .desc {
    color: #7ac1eaa8;
    font-size: 18px;
    text-align: left;
    padding-left: 105px;
    margin-bottom: 4px;
}

#alarm-settings #tune-and-set #tune-and-set-container {
    width: 380px;
    margin: 30px auto 0;
}

#alarm-settings #tune-and-set {
    text-align: center;
}

#tune-and-set-container #alarm-tune {
    text-align: left;
    width: 200px;
    display: inline-block;
}

#alarm-tune #tune-name {
    display: inline-block;
    vertical-align: 12px;
}

#alarm-tune #tune-icon {
    display: inline-block;
}

#tune-and-set-container #alarm-set {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

#sky-dyn {
    background-image: url(http://dev.metaclock.com:8081/img/sky.png);
    top: 0;
    z-index: 1;
    width: 100%;
    height: 1000px;
    background-position: center -160px;
}
#sky-dyn.night {
    background-image: url(http://dev.metaclock.com:8081/img/sky-night.png);
}

#todo-dyn {
    background-image: url(http://dev.metaclock.com:8081/img/todo.png);
    top: 22%;
    left: 10%;
    z-index: 2;
    height: 400px;
    background-size: 250px;
    background-repeat: no-repeat;
}
#todo-dyn.night {
    background-image: url(http://dev.metaclock.com:8081/img/todo-night.png);
}

#ground-dyn {
    background-image: url(http://dev.metaclock.com:8081/img/ground.png);
    background-size: cover;
    background-repeat: repeat-x;
    top: 505px;
    z-index: 2;
    width: 100%;
    height: 700px;
    background-position: center;
}
#ground-dyn.night {
    background-image: url(http://dev.metaclock.com:8081/img/ground-night.png);
}

.dynamic {
    position: absolute;
    min-width: 900px;
}

#set-alarm-btn {
    background-color:#2dabf9;
    -moz-border-radius:21px;
    -webkit-border-radius:21px;
    border-radius:21px;
    display:inline-block;
    width: 91px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:15px 21px;
    text-decoration:none;
}
#set-alarm-btn:hover {
    background-color:#0688fa;
}
#set-alarm-btn:active {
    position:relative;
    top:1px;
}


