body, html {
  margin: 0;
  padding: 0;
  background: #73beea;
  font-family: "Comfortaa", cursive;
  height: 1100px;
  overflow: hidden;
  overflow-y: scroll;
  width: 101%;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header **************************************************************/
header {
  z-index: 35;
  width: 1050px;
  margin: 11px auto 0;
  position: relative;
}
header #logo {
  width: 250px;
  display: inline-block;
}
header #pirsomet {
  width: 730px;
  height: 90px;
  display: inline-block;
  float: right;
}

/* Night Overly **************************************************************/
#night_overly {
  width: 100%;
  height: 1100px;
  background-color: black;
  overflow: hidden;
  z-index: 30;
  position: absolute;
  opacity: 0;
}
#night_overly.night {
  transition: opacity 1s;
  opacity: 0.3;
}

/* Site Container **************************************************************/
#site_container {
  width: 100%;
  height: 1100px;
  background-color: #73beea;
  overflow: hidden;
}

/* Modals **************************************************************/
#tune_modal .modal_content {
  height: 400px;
}
#tune_modal .tabs_content {
  background-color: #f2f2f2;
  height: calc(100% - 36px);
}
#tune_modal .tabs_content .tab_tune_content .tunes_list {
  vertical-align: top;
  display: inline-block;
  width: 281px;
  overflow-y: scroll;
  height: 100%;
}
#tune_modal .tabs_content .tab_tune_content .tunes_list li {
  background: #4ca8d4;
  border-bottom: 1px #f4f4f4 solid;
  display: block;
  padding: 14px;
  color: #f4f4f4;
  cursor: pointer;
}
#tune_modal .tabs_content .tab_tune_content .tunes_list li:hover {
  background-color: #1c9bd8;
}
#tune_modal .tabs_content .tab_tune_content .tunes_player {
  vertical-align: top;
  display: inline-block;
  padding: 63px 0 0 63px;
}

#time_modal .modal_content {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#time_modal .modal_content ul li {
  cursor: pointer;
  background-color: #edc643;
  border-bottom: 1px #ffffff5e solid;
  padding: 10px;
  font-size: 42px;
  color: white;
  text-align: center;
}
#time_modal .modal_content ul li:hover {
  background-color: #d5aa1b;
  text-shadow: 0 0 10px #fff;
}

/* Good night text **************************************************************/
#good_night_container {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  top: 17%;
  opacity: 0;
  z-index: 35;
}
#good_night_container #good_night_text {
  color: #fff;
  font-size: 70px;
}
#good_night_container #good_night_info {
  margin-top: 10px;
  color: wheat;
}
#good_night_container.night {
  animation: opacity-show 2s 1 linear forwards;
  animation-delay: 0.71s;
}

/* Ground **************************************************************/
#ground {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(http://dev.metaclock.com:8081/img/surface.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center top;
  top: 250px;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 91%;
  overflow: hidden;
  transition: all 0.1s;
  z-index: 30;
}
#ground.hidden {
  top: 110%;
}

/* Set alarm container **************************************************************/
#set_alarm_container {
  z-index: 35;
  opacity: 0;
  animation: opacity-show 1s 1 linear forwards;
  animation-delay: 0.71s;
}

#set_alarm_content {
  position: absolute;
  width: 60%;
  top: 23%;
  left: 20%;
  text-align: center;
  text-shadow: #7ec6ed 1px 0 10px;
}
#set_alarm_content .wake_up_title {
  font-size: 20px;
  color: white;
}
#set_alarm_content .wake_up_time {
  cursor: pointer;
  font-size: 92px;
  padding-bottom: 12px;
  color: #49b4ef;
  margin: 11px auto 34px;
  width: 311px;
  /* border: 1px black solid; */
  background-color: #ffffff47;
  border-radius: 24px;
  height: 89px;
  text-align: center;
  padding-top: 8px;
}
#set_alarm_content .wake_up_time:hover {
  background-color: #fff;
}
#set_alarm_content .wake_up_time .wut_inner_container {
  margin-top: 0;
  letter-spacing: -2px;
  font-family: "Nanum Gothic Coding", monospace;
}
#set_alarm_content .wake_up_time .wut_hours {
  margin-right: -39px;
}
#set_alarm_content .wake_up_time .wut_minutes {
  margin-left: -39px;
}
#set_alarm_content .wake_up_time .wut_delimiter {
  display: inline-block;
  vertical-align: 0;
  font-size: 81px;
}
#set_alarm_content .wu_tune {
  display: inline-block;
  text-align: left;
  vertical-align: -33px;
  padding-right: 10px;
}
#set_alarm_content .wu_tune .wu_tune_desc {
  cursor: pointer;
}
#set_alarm_content .wu_tune .wu_tune_desc .wu_tune_edit {
  color: #fff;
  font-size: 12px;
  opacity: 0;
}
#set_alarm_content .wu_tune .wu_tune_desc .wu_tune_music {
  display: inline-block;
}
#set_alarm_content .wu_tune .wu_tune_desc .wu_tune_music svg {
  width: 40px;
  vertical-align: 0px;
}
#set_alarm_content .wu_tune .wu_tune_desc .wu_tune_name_cont {
  display: inline-block;
  font-size: 19px;
  color: #54bcf0;
  vertical-align: 5px;
}
#set_alarm_content .wu_tune .wu_tune_desc:hover .wu_tune_edit {
  opacity: 1;
}
#set_alarm_content .wu_tune .wu_tune_desc:hover .wu_tune_name {
  font-weight: bold;
  color: #54bcf0;
}
#set_alarm_content .set_alarm_btn_container {
  display: inline-block;
  vertical-align: -13px;
}
#set_alarm_content .set_alarm_btn_container .set_alarm_btn {
  color: #54bcf0;
  font-weight: bold;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f6f6f6",GradientType=0);
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
#set_alarm_content .set_alarm_btn_container .set_alarm_btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6", endColorstr="#ffffff",GradientType=0);
  background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
#set_alarm_content .set_alarm_btn_container .set_alarm_btn:active {
  position: relative;
  top: 1px;
}

/* Sun and Moon **************************************************************/
.sun_and_moon {
  top: calc(50% - 140px);
  position: absolute;
  left: calc(50% - 330px);
  overflow: hidden;
  transition: all 1s;
  transition-delay: 0.1s;
  height: 573px;
  width: 667px;
  z-index: 20;
}
.sun_and_moon.hidden {
  top: 100%;
}
.sun_and_moon #img_sun {
  position: absolute;
  top: 0;
  animation: rotation 100s infinite linear;
  opacity: 1;
}
.sun_and_moon #img_moon {
  position: absolute;
  animation: rotation 100s infinite linear;
  opacity: 0;
  top: 100%;
}
.sun_and_moon.night #img_sun, .sun_and_moon.night #set_alarm_content {
  transition: top 1s;
  top: 100%;
}
.sun_and_moon.night #set_alarm_content {
  animation: opacity-hide 0.2s 1 ease forwards;
}
.sun_and_moon.night #img_moon {
  transition: top 1s;
  top: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

/* Clouds **************************************************************/
.cloud {
  position: absolute;
  overflow: hidden;
  z-index: 20;
  opacity: 0.6;
  transition: opacity 2s;
  background-image: url(http://dev.metaclock.com:8081/img/cloud.png);
  background-size: 100%;
}
.cloud#cloud_1 {
  width: 200px;
  height: 158px;
  -webkit-animation: cloudFlyLeft 60s infinite linear;
}
.cloud#cloud_2 {
  width: 163px;
  height: 130px;
  animation: cloudFlyRight 65s infinite linear;
}
.cloud#cloud_3 {
  width: 220px;
  height: 178px;
  animation: cloudFlyRight 60s infinite linear;
}
.cloud#cloud_4 {
  width: 250px;
  height: 200px;
  animation: cloudFlyLeft 50s infinite linear;
}
.cloud#cloud_5 {
  width: 300px;
  height: 230px;
  animation: cloudFlyLeft 45s infinite linear;
}
.cloud#cloud_6 {
  width: 163px;
  height: 130px;
  animation: cloudFlyLeft 40s infinite linear;
}
.cloud.night {
  opacity: 0;
}

/* Stars **************************************************************/
#stars_container {
  opacity: 0;
}
#stars_container .stars, #stars_container .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
}
#stars_container .stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}
#stars_container .twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  animation: move-twink-back 200s linear infinite;
}

/* Preloader **************************************************************/
#preloader {
  z-index: 100;
  position: absolute;
  top: 300px;
  left: calc(50% - 100px);
}

/* Keyframes **************************************************************/
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes cloudFlyLeft {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
@keyframes cloudFlyRight {
  from {
    right: -250px;
  }
  to {
    right: 100%;
  }
}
/* Stars keyframes **************************************************************/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes opacity-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Tabs **************************************************************/
.tabs {
  font-size: 15px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* border-radius: 50px; */
  position: relative;
  width: 100%;
}

.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
  font-weight: bold;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: linear-gradient(45deg, #d2c27a 0%, #ffca0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#05abe0", endColorstr="#8200f4",GradientType=1 );
}

/*# sourceMappingURL=main.css.map */
