@import '../../normalize.css';
@import '../../main';

body {
  background-image: url(../../../img/landscape/dusk.png);
}

.page-container {

  .header {

    .link {
      color: rgb(248, 238, 72);
      text-decoration: underline;
    }

    .sublink {
      color: #efb484;
      text-decoration: underline;
    }
  }

}
