@import '../../normalize.css';
@import '../../main';

body {
  background-image:  url(../../../img/landscape/sunset.png);
}

.page-container {

  .header {

    .link {
      color: #f9ec37;
      text-decoration: underline;
    }

    .sublink {
      color: #ede3b4;
      text-decoration: underline;
    }
  }


}
