#page-bg {
  background-image: url('../../img/landscape/night.png') !important;
  //background-size: initial;
  //background-repeat: repeat-x;
}

.page-container {

  .header {

    .link {
      color: #ededed;
      text-decoration: underline;
    }

    .sublink {
      color: #a6b2aa;
      text-decoration: underline;
    }
  }

  .widget-box {
  }

  .todo-container {

    .unfold-text {
      color: #000;
    }
    .right-arrow-svg {
      fill: #000;

      &:hover {
        fill: #000;
      }
    }
  }

  .clock-container {

    .btn-test-alarm {
      color: #009688;
    }

    .wake-me-up-at {
      color: #fff;
    }

    .time-picker {
      color: #3f51b5;
    }

    .box-view {

      .title {
        color: #fff !important;
        text-shadow: none;
      }
    }

    .snooze-off-notice {
      color: #000;
    }

    .change-tune {

      .play-wrapper {
        .svg-play { fill: #fff; }
        .text-play { color: #fff; }
      }

      .svg-share {
        fill: #4CAF50;
      }
    }

  }

}